h2{
    font-size: 20;
    font-style: bold;
    background-color: rgb(217, 85, 144);
    border: dotted;
    border-radius: 0cqmax;
    
}



h3{
    font-size: 20;
    font-style: bold;
    background-color: rgb(217,85, 144);
    border: dotted;
    border-radius: 0cqmax;

}
h4{
    
    font-size: 20;
    font-style: bold;
    background-color: rgb(217,85, 144);
    border: dotted;
    border-radius: 0cqmax;
}
h5{
    
    font-size: 20;
    font-style: bold;
    background-color: rgb(217,85, 144);
    border: dotted;
    border-radius: 0cqmax;
}